html {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

a {
  text-decoration: none;
}


.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 15px;
  height: 25%;
}

.contact a, {
  text-shadow: 0px 0px 8px #000000;
}

.contact i {
  color: white;
}
.landing {
  height: 100vh;
  width: 100%;
  background-image: url("images/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.landing h1 {
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  margin: 5px;
  text-shadow: 0px 0px 8px #000000;
}

.landing p {
  text-shadow: 0px 0px 8px #000000;
  color: white;
}

.one, .three, {
  background-color: #fafafa;
  color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one, .three, p {
  color: black;
}
.two, .about {
  color: #fafafa;
  background-color: #333;
}

.two p {
  color: white;
}

.about {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.about .text {
  height: 50%;
  width: 99vw;
}

.prof {
  display: flex;
  justify-self: start;
  flex-direction: column;
  align-items: center;
}

.about img {
  width: 150px;
}

h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.about .text p {
  padding: 0;
  color: white;
}

.landing-copy p {
  font-size: 15px;
}

i {
  line-height: 1em;
  font-size: 30px;
  color: gray;
  margin-bottom: 5px;
}

.icon:hover {
  opacity: 0.5;
}

::-webkit-scrollbar {
  display: none;
}

.text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text a {
  margin-top: 10px;
}

.text p {
  padding: 10px;
}

.mock {
  width: 100vw;
}

.mock img {
  width: 100vw;
}

.triangle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.triangle-white, .triangle-grey {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
}

.triangle-white-top, .triangle-grey-top {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: center;
  width: 100%;
}

.triangle-white i, .triangle-white-top i {
  color: #333;
}

.triangle-grey i, .triangle-grey-top i {
  color: #fafafa;
}

@media screen and (max-width: 336px) {
  .landing {
    height: auto;
  }

  .landing-copy {
    padding-right: 10px;
    align-items: center;
    text-align: center;
  }

  .about {
    height: auto;
  }
}

@media screen and (max-height: 504) {
  .about {
    height: auto;
  }
}
@media screen and (max-width: 459px) {
  .about {
    height: auto;
  }

  .text p {
    font-size: 13px;
  }
}


@media screen and (min-width: 547px) {
  .about {
    height: auto;
  }
}

@media screen and (max-height: 358px) {
  .landing {
    height: auto;
  }

  .about {
    height: auto;
  }
}

@media screen and (max-width: 599px) {
  .about {
    height: 100vh;
  }
}



@media screen and (min-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 50px;
    height: 33vh;
  }

  .landing, .two {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .landing h1 {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    margin: 5px;
  }

  .landing-copy {
    margin: 5px;
  }

  .one, .three {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .two {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .about {
    height: 100vh;
  }

  .triangle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    height: 33vh;
    opacity: 0.5;
  }

  .text {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text a {
    margin-top: 10px;
  }

  .text p {
    padding: 10px;
  }

  .mock {
    width: 66vw;
  }

  .mock img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .landing p {
    width: 60%
  }

  .landing h1, p {
    margin-left: 10px;
  }
}
